#!/usr/bin/env bash
{{ ansible_managed | comment }}

# Check HDD|SSD status with arcconf
# Created by carrol@protonmail.com

set -o noclobber  # Avoid overlay files (echo "hi" > foo)
set -o errexit    # Used to exit upon error, avoiding cascading errors
set -o nounset    # Exposes unset variables
set -o pipefail   # Unveils hidden failures

if [ "${UID}" != "0" ]
then
  echo -e "You must be root to run this script\nYou can use 'sudo' to get root access"
  exit 1
fi

pushgateway_url="http://{{ hwraid_pushgateway_host }}:9091/metrics/job/hardware/hostname/$(hostname)"

case ${1} in
  'count-all')
    metric_name='count_all_disks'
    metric_value=$(arcconf getconfig 1 pd | grep -c 'Device is a Hard drive')
  ;;
  'count-failed')
    metric_name='count_bad_disks'
    metric_value=$(arcconf getconfig 1 pd | grep ' .State' | grep -c -v 'Online')
  ;;
  *) exit 0
  ;;
esac

echo "${metric_name}" "${metric_value}" | curl --data-binary @- "${pushgateway_url}"
